@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    transition: color 0.5s;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#app {
    margin: 0 auto;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5 !important; /* Firefox */
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);*/
    background-color: #e6e6e6;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #d0d0d0;
}

.checkbox:checked, .checkbox[checked="true"], .checkbox[aria-checked=true]{
    background-image: linear-gradient(-45deg, transparent 65%, hsl(var(--chkbg)) 65.99%), linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 75.99%), linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 40.99%), linear-gradient(45deg, hsl(var(--chkbg)) 30%, hsl(0, 0%, 100%) 30.99%, hsl(0, 0%, 100%) 40%, transparent 40.99%), linear-gradient(-45deg, hsl(0, 0%, 100%) 50%, hsl(var(--chkbg)) 50.99%);
}

/*rewrite drawer css*/
@media (min-width: 768px) {
    .drawer-mobile-mini {
        grid-auto-columns: max-content auto;
    }
    .drawer-mobile-mini > .drawer-toggle ~ .drawer-content {
        height: auto;
    }
    @media (min-width: 768px) {
        .drawer-mobile-mini > .drawer-toggle ~ .drawer-content {
            grid-column-start: 2;
        }
    }
    @media (min-width: 768px) {
        .drawer-mobile-mini > .drawer-toggle ~ .drawer-side > .drawer-overlay {
            visibility: visible;
        }
        .drawer-mobile-mini > .drawer-toggle ~ .drawer-side > .drawer-overlay + * {
            --tw-translate-x: 0px;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        }
    }
    @media (min-width: 768px) {
        .drawer-mobile-mini.drawer-end > .drawer-toggle ~ .drawer-content {
            grid-column-start: 1;
        }
    }
    @media (min-width: 768px) {
        .drawer-mobile-mini.drawer-end > .drawer-toggle ~ .drawer-side {
            grid-column-start: 2;
        }
        .drawer-mobile-mini.drawer-end > .drawer-toggle ~ .drawer-side > .drawer-overlay {
            visibility: visible;
        }
        .drawer-mobile-mini.drawer-end > .drawer-toggle ~ .drawer-side > .drawer-overlay + * {
            --tw-translate-x: 0px;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        }
    }
    .drawer-mobile-mini > .drawer-toggle ~ .drawer-side {
        overflow-y: auto;
    }
    .drawer-mobile-mini.drawer-end {
        grid-auto-columns: auto max-content;
        direction: ltr;
    }
    .drawer-mobile-mini.drawer-end > .drawer-toggle ~ .drawer-content {
        height: auto;
    }
    .drawer-mobile-mini.drawer-end > .drawer-toggle ~ .drawer-side {
        overflow-y: auto;
    }
}
